/* USER VARIABLES SECTION */

:root {
	--accent: #6b9d9e;
	--text: #333;
	--light-text: #fff;

	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

	--h1-size: 26px;
	--h3-size: 20px;
	--p-size: 16px;

	--border: 4px;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/roboto-regular-webfont.woff2")    format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-italic-webfont.woff2")     format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/roboto-bold-webfont.woff2")       format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

*{
	box-sizing: border-box;
}

html{
	min-height: 100vh;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	margin: 0;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent, a {
	color: var(--accent);
	font-weight: bold;
}

.g-text-bold{
	font-weight: bold;
}

.g-box{
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.header{
	background-color: var(--accent);
}

.profile{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.profile__image{
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	border: 15px solid white;
	transform: translateY(50%);
}
.profile__image img{
	width: 100%;
}
.profile__title{
	text-align: center;
	transform: translateX(50px);
	margin-bottom: 20px;
}
.profile__title span{
	display: inline-block;
	width: 50px;
	height: var(--border);
	background-color: #fff;
}
.profile__title h1{
	margin-bottom: -10px;
	color: var(--light-text);
	font-size: var(--h1-size);
	text-transform: uppercase;
}
.profile__title h3{
	color: var(--light-text);
	font-size: var(--h3-size);
	text-transform: uppercase;
}


.main{
	background-color: var(--accent);
}
.info{
	display: flex;
	flex-wrap: wrap;
}
.info:before{
	content: '';
	min-height: 200px;
	width: calc(50% - 2px);
	margin-right: 4px;
	background-color: #fff;
}
.info:after{
	content: '';
	width: calc(50% - 2px);
	background-color: #fff;
}
.info__item{
	position: relative;
	width: calc(50% - 2px);
	padding: 0 0 50px 30px;
	background-color: #fff;
}
.info__item:nth-child(even){
	margin-right: 4px;
	padding: 0 30px 50px 0;
}
.info__item:nth-child(1){
	padding: 100px 0 50px 30px;
}
.info__item:nth-child(odd)::before{
	content: '';
	position: absolute;
	width: 60px;
	height: var(--border);
	background-color: var(--accent);
	top: -2px;
	left: -4px;
}
.info__item:nth-child(even)::before{
	content: '';
	position: absolute;
	width: calc(100% - 60px);
	height: var(--border);
	background-color: var(--accent);
	top: -2px;
	right: 0;
	transform: translateY(-70px);
}
.info__item:nth-child(1)::before{
	top: calc(100px - 2px);
}
.info__item:nth-child(even) .info__inner{
	transform: translateY(-70px);
}
.info__item .title{
	transform: translateY(-50%);
}

.title > *{
	padding: 0 20px;
	display: inline-block;
	font-size: var(--h3-size);
	text-transform: uppercase;
	border: var(--border) solid var(--accent);
	color: var(--accent);
	background-color: #fff;
}


.skills{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.skills__title{
	font-weight: bold;
	margin-right: 10px;
}
.skills__bar{
	border: 1px solid var(--accent);
	height: 10px;
	min-width: 200px
}
.skills__bar:before{
	content: '';
	display: block;
	height: 100%;
	background-color: var(--accent);
}
.skills__bar--5:before{ width: 50%; }
.skills__bar--7:before{ width: 70%; }
.skills__bar--9:before{ width: 90%; }

.language{
	display: flex;
	align-items: center;
}
.language__title{
	font-weight: bold;
	margin-right: 10px;
}
.language__stars{
	color: var(--accent);
	font-size: var(--h1-size);
}



.footer{
	height: 30px;
}
.footer__inner{
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: var(--accent);
}

